html{
    /* background: #25273A; */
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
    
}

legend{
    color: white;
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);

}
/* ヘッダーテンプレ */

 
img{width:100%;}
 
/*ロゴの大きさを調整*/
#logo img {
  max-width:50%;
}
 
nav{
 width: 100%;
 height: 70px;
 position: relative;
 background: #F6F6F6;
}
 
.drawer{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 position: relative;
 height: 70px;
 padding: 0 1em;
}
 
/*ナビゲーション部分*/
 
.menu ul li a {
display:block;
  font-weight:bold;
padding: 2em;
border-bottom: 1px dotted #CCC;
  color:#333;
  text-decoration:none;
}
 
 
.menu ul li a:hover
{background-color:rgba(0,0,0,0.5);
color:orange;}
 
 
.menu{
  text-align:center;
  background-color:rgba(255,255,255,0.5);
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
  transition: 0.5s ease;/*滑らかに表示*/
  -webkit-transform: translateX(100%);/*画面より100%外へ押し出し非表示にさせる*/
 
/*  transform: translateX(-100%);/*右から出す場合は、マイナス100%としてください*/
 
}
 
/*OPEN時の動き*/
.menu.open {
 -webkit-transform: translateX(0%);
 transform: translateX(0%);/*メニューを元の位置へ戻す*/
 
}
 
/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
  right:15px;
}
 
.Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #333;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
 
}
 /*各ボーダー少しずつずらす*/
.Toggle span:nth-child(1) {
    top:5px;
}
 .Toggle span:nth-child(2) {
    top: 18px;
}
 .Toggle span:nth-child(3) {
    top: 32px;
}
.Toggle.active span:nth-child(1) {
    top: 18px;
/* 1番目のspanをマイナス45度に */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
 
/*----------------------------------ここからPCモニターの記述-----------*/
@media screen and (min-width: 600px) {
 
/*ロゴの大きさを調整*/
#logo img{max-width:250px;}	
	
nav{
 display: flex;
 
}
 
.Toggle{
 display: none;
}
.menu{
width: 100%;
font-size:0.9em;
background: #0f3854;
background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
margin:0 px;
-webkit-transform: translateX(0);
transform: translateX(0);
padding-right: 100px;
}
.menu ul{
 height: 70px;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
 align-items: center;
 
}
.menu ul li a{
 padding: 0 1em;
 border-bottom: none;
}
.menu ul li a:hover{
background-color:transparent;
}

.drawer{
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 0%);
  
}

a{
    color: white;
}

#logo{
    font-size: 30px;
    color: white;
}


.menu ul li a{
    color: white;
    padding-left: 50px;
    font-size: 15px;
}

/*フッター装飾 */

 /* フッターテンプレ */

  /* フッター最下部に固定 */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}
.footer{
    font-size:10px;
    color:white;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    text-align: center;
    padding-bottom: 30px;
}

#myChart{
    width: 200px;
    height: 200px;
}

p{
    color: white;
}

.chart{
    /* background-color: white; */
    /* opacity: 0.9; */
    /* background-color:blue; */
    border-radius: 20px 20px 20px 20px;
}

em{
    padding-right: 20px;
}

.title {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

.title_main {
    color: white;
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}